.hidden {
    display: none;
}
/* 
input {
    display:block
} */

.checked + label{

    background-color: orange;
}

.history-cards {
    background-color: #f2f2f2;
}
.history-cards .green + label{
    background-color: green;
}

.history-cards input{
    display: none;
}

.history h2 {
    text-align: center;
}

.btn {
    padding: 5px 20px;
    border: 30px;
    border-radius: 8px;
    background-color: rgb(165, 165, 240);
}
.answers-container {
    background-color: #f2f2f2; /* Change this color to your desired background color */
    padding: 10px; /* Add padding for better visual appearance */
    border-radius: 8px;
}